.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.centered-image {
  max-width: 50%;
  max-height: 50%;
}

.booking {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #47d866;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
